@model CategoryListDto

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Admin Sayfası</h1>

</div>



<a asp-area="" asp-controller="Home" asp-action="index">Home</a>


@if (Model.ResultStatus == ResultStatus.Success)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card card-topline-red">
                <div class="card-head">
                    <header>MANAGED TABLE</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="row p-b-20">
                        <div class="col-md-6 col-sm-6 col-6">
                            <div class="btn-group">
                                <button id="addRow1" class="btn btn-info">
                                    Add New <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <div class="btn-group pull-right">
                                <button class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> Save as PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="example4_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="example4_length"><label>Show <select name="example4_length" aria-controls="example4" class="form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="example4_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example4"></label></div></div></div><div class="row">
                            <div class="col-sm-12">
                                <div class="dataTables_scroll">
                                    <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                                        <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 825px; padding-right: 0px;">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" style="width: 825px; margin-left: 0px;" role="grid">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 55px;" aria-sort="ascending" aria-label="




                                                : activate to sort column descending">
                                                            <label class="rt-chkbox rt-chkbox-single rt-chkbox-outline">
                                                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes">
                                                                <span></span>
                                                            </label>
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 99px;" aria-label=" Username : activate to sort column ascending"> Username </th>
                                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 185px;" aria-label=" Email : activate to sort column ascending"> Email </th>
                                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 80px;" aria-label=" Status : activate to sort column ascending"> Status </th>
                                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 82px;" aria-label=" Joined : activate to sort column ascending"> Joined </th>
                                                        <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 83px;" aria-label=" Actions : activate to sort column ascending"> Actions </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div><div class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%;">
                                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" style="width: 100%;" id="example4" role="grid" aria-describedby="example4_info">
                                            <thead>
                                                <tr role="row" style="height: 0px;">
                                                    <th class="sorting_asc" aria-controls="example4" rowspan="1" colspan="1" style="width: 55px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-sort="ascending" aria-label="




                                                : activate to sort column descending">
                                                        <div class="dataTables_sizing" style="height:0;overflow:hidden;">
                                                            <label class="rt-chkbox rt-chkbox-single rt-chkbox-outline">
                                                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes">
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </th>
                                                    <th class="sorting" aria-controls="example4" rowspan="1" colspan="1" style="width: 99px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label=" Username : activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;"> Username </div></th>
                                                    <th class="sorting" aria-controls="example4" rowspan="1" colspan="1" style="width: 185px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label=" Email : activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;"> Email </div></th>
                                                    <th class="sorting" aria-controls="example4" rowspan="1" colspan="1" style="width: 80px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label=" Status : activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;"> Status </div></th>
                                                    <th class="sorting" aria-controls="example4" rowspan="1" colspan="1" style="width: 82px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label=" Joined : activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;"> Joined </div></th>
                                                    <th class="sorting" aria-controls="example4" rowspan="1" colspan="1" style="width: 83px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label=" Actions : activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;"> Actions </div></th>
                                                </tr>
                                            </thead>

                                            <tbody>


                                                @foreach (var item in Model.Categories)
                                                {
                                                    <tr class="gradeX even" role="row">
                                                        <td class="sorting_1">
                                                            <label class="rt-chkbox rt-chkbox-single rt-chkbox-outline">
                                                                <input type="checkbox" class="checkboxes" value="1">
                                                                <span></span>
                                                            </label>
                                                        </td>
                                                        <td> looper </td>
                                                        <td>
                                                            <a href="mailto:looper90@gmail.com"> @item.CreatedByName </a>
                                                        </td>
                                                        <td>
                                                            <span class="label label-sm label-warning"> Suspended </span>
                                                        </td>
                                                        <td> @item.CreatedDate </td>
                                                        <td class="valigntop">
                                                            <div class="btn-group">
                                                                <button class="btn btn-xs deepPink-bgcolor dropdown-toggle no-margin" type="button" data-toggle="dropdown" aria-expanded="false">
                                                                    Actions
                                                                    <i class="fa fa-angle-down"></i>
                                                                </button>
                                                                <ul class="dropdown-menu" role="menu">
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-docs"></i> @item.CategoryName
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-tag"></i> @item.Description
                                                                        </a>
                                                                    </li>
                                                                   
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }




                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example4_info" role="status" aria-live="polite">Showing 1 to 10 of 25 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example4_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example4_previous"><a href="#" aria-controls="example4" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example4" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example4" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example4" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item next" id="example4_next"><a href="#" aria-controls="example4" data-dt-idx="4" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1>Hata Meydana geldi</h1>
}
